.cler {
    clear: both;
}

#Tz_pinboard {
    height: 60px;
    position: relative;
    display: inline-block;
}

#tz_from form {
    margin: 0;
}

#tz_search {

    background-position: right center;
    background-color: #F7F7ED;
    background-repeat: no-repeat;
    padding: 10px ;
    margin: 0;
}

#tz_submit {
    background: url('../images/search.png') no-repeat;
    width: 20px;
    border: 0;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 6px;
    cursor: pointer;
}

#tz_results {
    width: 360px;
    max-height: 400px;
    z-index: 99999999;
    left: 50px;
    position: absolute;

}

#tz_results ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#tz_results ul li:first-child {
    width: 100%;
    height: 30px;
    background: #C8C8C8;
}

#tz_results ul li strong {
    display: block;
    padding-left: 10px;
    padding-top: 5px;
    font-style: italic;
    font-family: georgia;
    color: #ffffff;
}

#tz_results ul li {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #FFFFFF;
    background: #F0F0F0;

}

#tz_results ul li img {
    width: 12%;
    float: left;
    padding: 10px 5px 5px;
    max-height: 30px;

}

#tz_results ul li span {
    margin-left: 3px;
    display: block;
    width: 84%;
    padding-top: 8px;
    padding-bottom: 8px;
    float: left;
}

#tz_results ul li:hover {
    background: #f0f0f0;
}