@font-face {
    font-family: 'tz_pin';
    src: url('icon_font/tz_pin.eot?zf2ki9');
    src: url('icon_font/tz_pin.eot?#iefixzf2ki9') format('embedded-opentype'), url('icon_font/tz_pin.woff?zf2ki9') format('woff'), url('icon_font/tz_pin.ttf?zf2ki9') format('truetype'), url('icon_font/tz_pin.svg?zf2ki9#tz_pin') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="tz-pin-"], [class*=" tz-pin-"] {
    font-family: 'tz_pin';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tz-pin-stack:before {
    content: "\e604";
}

.tz-pin-th-small:before {
    content: "\e605";
}

.tz-pin-th-large-outline:before {
    content: "\e606";
}

.tz-pin-th-small-outline:before {
    content: "\e607";
}

.tz-pin-messages:before {
    content: "\e608";
}

.tz-pin-pencil:before {
    content: "\e601";
}

.tz-pin-search:before {
    content: "\e60c";
}

.tz-pin-cross:before {
    content: "\e609";
}

.tz-pin-plus2:before {
    content: "\e60a";
}

.tz-pin-docs:before {
    content: "\e613";
}

.tz-pin-arrow-left:before {
    content: "\e602";
}

.tz-pin-uniE603:before {
    content: "\e603";
}

.tz-pin-pushpin:before {
    content: "\e60b";
}

.tz-pin-globe:before {
    content: "\e600";
}

.tz-pin-heart:before {
    content: "\e6d6";
}

.tz-pin-arrow-up:before {
    content: "\e724";
}

.add_pinboard {
    color: #006dcc;
    font-size: 13px;
    height: auto;
    font-weight: bold;
    padding: 0;
    width: auto;
}

#tz_pinboard_add:after {
    content: '';
    position: absolute;
    border: 15px solid;
    margin-left: -15px;
    border-bottom-color: #006dcc;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    left: 50%;
    bottom: 100%;
}

.face {
    background: red;
}

#tz_pinboard_button_add {
    width: 100%;
    height: 50px;
}

.button_add {
    background: url("../images/plus.png") no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
}

#tz_pinboard_add_warp {
    width: auto;
    height: auto;
    position: relative;
    z-index: 999;
    display: none;
    min-width: 200px;
}

#error_choose_category_on_pin,
#error_create_board_on_pin {
    display: none;
    max-width: 100%;
}

#add_button_pin_err .tz-pin-plus2,
#add_button_pin_board .tz-pin-plus2 {
    font-size: 40px;
    position: relative;
    top: 1px;
}

.tz_active {
    color: white;
    background: #006dcc;
}

.tz_active:focus,
.tz_active:hover {
    color: white;
    background: #E63D45;
    outline: none;
}

.btn.add_pinboard:hover,
.btn.add_pinboard:active,
.btn.add_pinboard:focus {
    color: white;
    background: #006dcc;
    outline: none;
}

.tz_pinboard_full {
    width: 100%;
    background: rgba(0, 0, 0, 0.07);
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
}

#tz_pinboard_add {
    width: auto;
    height: auto;
    position: absolute;
    top: 15px;
    left: -50%;
    right: 30%;
    display: block;
    z-index: 5;
    border-radius: 2px;
    border-color: #006dcc;
    background: white;
    border-style: solid;
    border-width: 1px;
}

#tz_pinboard_add_name {
    position: relative;
    width: 100%;
    height: 45px;
    background: linear-gradient(#FFFCFC, #F0EDED) repeat scroll 0 0 transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 1px 0 rgba(249, 250, 244, 0.9);
}

#tz_pinboard_add_name span {
    position: absolute;
    top: 12px;
    font-size: 18px;
    font-weight: bold;
    left: 20px;
    color: #666666;
}

#tz_pinboard_add_name_img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    border-bottom: 1px solid white;
    cursor: pointer;
    z-index: 9999;
    background: #E0E0DD;
}

#tz_ul_web {
    width: 170px;
    height: 130px;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
}

#tz_pinboard_add_name_img:hover {
    background: white;
}

#tz_pinboard_add_name_gt {
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    background: #006dcc;
    border-radius: 2px 2px 0 0;
}

#tz_pinboard_add_name_gt span {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
}

#tz_pinboard_add_all {
    width: 100%;
    height: auto;
    display: inline-block;
}

#tz_pinboard_add_all ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#tz_pinboard_add_all ul li {
    display: block;

}

/*#tz_pinboard_add_all ul li:hover {*/
/*background: #006dcc;*/
/*}*/

#tz_pinboard_add_all ul li:hover > a span,
#tz_pinboard_add_all ul li:hover > a i {
    color: #006dcc;
}

.tz_pinboard_add_pin_webiste {
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid;
    border-color: #006dcc;
}

.tz_pinboard_add_pin_webiste:first-child {
    border-top: 1px solid;
    border-color: #006dcc;
}

.tz_pinboard_add_pin_webiste:last-child {
    border-bottom: none;
}

.tz_pinboard_add_pin_webiste a > i {
    font-size: 30px;
    color: #808080;
}

.tz_pinboard_add_pin_webiste a > span {
    color: #808080;
    position: relative;
    top: -7px;
    left: 5px;
}

.tz_pinboard_add_pin_webiste > a {
    padding: 5px 25px;
    margin: 0;
    display: block;
}

.tz_pinboard_add_pin_webiste > a:focus {
    text-decoration: none;
}

.tz_pinboard_add_pin_webiste > a:hover {
    color: white;
}

.mod_tz_pinboard_add {
    position: relative;
    display: inline-block;
}

.tz_pinboard_add_pin_webiste:last-child {
    border-right: none;
}

#tz_pinboard_add_pin_creboa {
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
}

#tz_pinboard_add_pin_creboa:hover {
    text-decoration: none;
    color: red;
}

#tz_pinboard_add_pin_local:hover {
    text-decoration: none;
    color: red;
}

#tz_pinboard_add_pin_wed:hover {
    text-decoration: none;
    color: red;
}

.tz_pinboard_add_pin_webiste img {
    max-width: 45px;
    height: 80px;
    margin: 15px auto;
    display: block;
}

.tz_pinboard_add_pin_webiste p {
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    padding-top: 7px;
    color: #666666;
}

.tz_pinboard_add_pin_webiste_upload {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    bottom: -100%;
    left: 0;
    z-index: 22000;
}

.tz_pinboard_add_pin_webiste_wed {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    bottom: -100%;
    left: 0;
    display: block;
    z-index: 22000;
}

.tz_pinboard_add_pin_webiste_board {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    bottom: -100%;
    left: 0;
    z-index: 22000;
}


#tz_pin_upload_name span {
    position: absolute;
    top: 16px;
    font-size: 18px;
    font-weight: bold;
    left: 20px;
    color: #666666;
}

#tz_pin_upload_img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    cursor: pointer;
    background: #e0e0e0;
}

#tz_pin_upload_img:hover {
    cursor: pointer;
    background: white;
}

#tz_pin_upload_content {
    width: 100%;
    height: auto;
}

#tz_pin_upload_content_1 {
    width: 93%;
    height: auto;
    padding: 20px;
}

.tz_upload_price {
    background-color: #ffffff;
    opacity: 0.78;
    color: #000000;
    font-size: 11px;
    height: 22px;
    left: -120px;
    overflow: hidden;
    padding-top: 8px;
    position: absolute;
    text-align: center;
    top: 19px;
    transform: rotate(-45deg);
    width: 125px;
    z-index: 99;
}

.tz_upload_price span {
    color: white;
}

#tz_pin_upload_left_img {
    margin: 10px auto;
    max-height: 180px;
    overflow: hidden;
    position: relative;
    width: 170px;
}

#tz_pin_upload_left_img_load {
    width: 160px;
    display: block;
}

/* ket thuc css add pin tu local -----------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------
*/
#tz_create_board_add,
#tz_pin_add_upload_pin,
#tz_pin_add_url_pin {
    width: 60%;
    height: auto;
    position: fixed;
    bottom: -60%;
    left: 20%;
    display: none;
    border-radius: 0;
    z-index: 999999;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
    background: white;
}

#tz_create_board_h5s,
#tz_pin_upload_name,
#tz_pin_url_name {
    position: relative;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
}

#tz_create_board_h5s span,
#tz_pin_upload_name span,
#tz_pin_url_name span {
    position: absolute;
    top: 16px;
    font-size: 18px;
    font-weight: bold;
    left: 20px;
    color: #666666;
}

#tz_create_board,
#tz_pin_upload,
#tz_pin_url_img {
    bottom: 0;
    cursor: pointer;
    font-size: 30px;
    height: auto;
    position: absolute;
    right: 20px;
    top: 10px;
}

#tz_pin_url_img:hover {
    cursor: pointer;
}

#tz_pin_url_content {
    width: 100%;
    height: auto;
}

#tz_pin_url_content_1 {
    width: auto;
    height: auto;
    padding: 10px 20px;
}

#tz_pin_upload_content > form,
#tz_pin_url_content > form {
    margin: 0;
}

#tz_url_img {
    background: linear-gradient(#FFFCFC, #F0EDED) repeat scroll 0 0 transparent;
    width: 75%;
    border-radius: 5px;
    height: auto;
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
}

#tz_url_img:focus {
    box-shadow: none;
}

#tz_pin_url_button {
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #cccccc;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    padding: 10px 40px;
    position: relative;
}
#tz_pin_url_button:hover{
    color: #006dcc;
}

#tz_pin_loadding {
    /* load ding */
    position: absolute;
    background: #ffffff;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
}

#tz_pin_loadding img {
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 3000;
    width: 50px;
    height: 50px;
}

#tz_pin_upload_content_2,
#tz_pin_url_content_2 {
    border-top: 1px solid #E0E0DD;
    width: 100%;
    height: auto;
    display: none;
    padding-top: 10px;

}

#tz_pin_upload_left,
#tz_pin_url_content_2_left {
    width: auto;
    height: auto;
    display: inline-block;
    position: absolute;
    margin: 11px 17px 0 15px;
    overflow: hidden;

}

#tz_pin_upload_right,
#tz_pin_url_content_2_right {
    width: 70%;
    height: auto;
    display: inline-block;
    overflow: hidden;
}

.tz_create_board_names,
#tz_pin_upload_right > div,
#tz_pin_url_content_2_right > div {
    padding: 10px 0 10px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#tz_pin_upload_right > div:last-child,
#tz_pin_url_content_2_right > div:last-child {
    border-bottom: none;
}

.tz_create_board_names > label,
.tz_pin_upload_input > label,
.tz_pin_url_input > label {
    display: inline-block;
    min-width: 20%;
    font-weight: bold;
    cursor: default;
}

.tz_pin_upload_input,
.tz_pin_url_input {
    width: auto;
    height: auto;
    position: relative;
}

.header_form > span {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
}

.error_name_board {
    display: none;
}

.create_board_up,
.create_board_web {
    display: none;
    position: absolute;
    top: 25%;
    right: 25%;
    z-index: 99;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    width: 50%;
}

.tz_create_board_names1 {
    padding: 5px 20px;
    margin-top: 10px;
}

.tz_create_board_names1 > label {
    display: inline-block;
    min-width: 90px;
}

.tz_create_board_names1 > select,
.tz_create_board_names1 > input {
    display: inline-block;
    width: 47%;
}

.create_board_overlay {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.07);
    z-index: 99;
}

.submitcreate1, .cancel_create_board_on_pin {
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    padding: 5px 10px;
    font-weight: bold;
}

.header_form {
    background: rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 0 0;
}

.header_form .tz-pin-cross {
    display: inline-block;
    float: none;
    font-size: 25px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

#create_board_warp_form_submit1 {
    margin-bottom: 15px;
}

#tz_pin_upload_title,
#tz_pin_upload_keyword,
#tz_pin_url_title,
#tz_pin_url_keygord {
    background: linear-gradient(#FFFCFC, #F0EDED) repeat scroll 0 0 transparent;
    width: 75%;
    border-radius: 2px;
    height: 26px;
    margin: 0px;
}

.tz_create_board_names > p,
.tz_pin_url_input > p {
    margin: 0;
}

#tz_url_p_keyword {
    font-size: 14px;
    color: red;
}

#tz_url_p_title {
    font-size: 14px;
    color: red;
}

#tz_url_p_textarea {
    font-size: 14px;
    color: red;
}

#tz_pin_upload_select,
#tz_pin_url_select {
    background: linear-gradient(#FFFCFC, #F0EDED) repeat scroll 0 0 transparent;
    width: 40%;
    border-radius: 5px;
    height: 35px;
    margin-top: 10px;
    padding-top: 7px;
}

#tz_pin_pin_textarea,
#tz_pin_url_textarea {
    max-width: 75%;
    max-height: 120px;
    margin-top: 5px;
    z-index: 5;
    border-radius: 2px;
    width: 75%;
}

input#create_board_on_pin_up,
input#create_board_on_pin_web {
    margin: 0;
    padding: 7px 14px;
}

#create_board_on_pin_up,
#submitcreate_cr,
#upload_a_pin,
#create_board_on_pin_web,
#cancel_a_pin,
#cancel_pin_url,
#url_a_pin {
    padding: 5px 25px;
    margin: 10px;
    border-radius: 2px;
    font-size: 15px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #606060;
    cursor: pointer;
    font-weight: bold;
}

.cler {
    clear: both;
}

#tz_pin_url_content_2 > .tz_pin_url_input {
    width: auto;
}

/* ket thcu pin url-------------------------------------- */
/* bat dau css creaboar ---------------------------------- */
#tz_create_board_Form_web,
#tz_create_board_Form_up {
    border-style: solid none none;
    border-width: 1px 0 0;
    border-color: #e0e0dd;
}

.tz_create_board_names input,
.tz_create_board_names textarea {
    height: 26px;
}

.tz_create_board_names select {
    height: 36px;
    padding-top: 7px;
}

.tz_create_board_names input,
.tz_create_board_names textarea,
.tz_create_board_names select {
    display: inline-block;
    width: 70%;
    background: linear-gradient(#fffcfc, #f0eded) repeat scroll 0 0 transparent;
    border-radius: 2px;
}

.tz_click_button {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -99;
    color: #e9622d;
}
